body{
  background-image: url('grandson.png');
  background-size: cover;
  opacity: 0.85;
  /* https://twitter.com/grandsonnews/status/1630605323730841601 got the picture from here (google images) */
}

html, body, div.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Georgia", serif;
}

div.wrapper {
  display: flex;
  gap: 2em;
  background-color: rgb(1, 12, 21);
}

header {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg,cyan,green);
  box-shadow: 5px 0px 18px 0px #000000;
  padding: 2em;
}

header form {
  font-size:2.5em;
  font-weight:bold;
  display: flex;
  flex-direction:column;
}

header ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
}

header li {
  background-color:aliceblue;
  font-size:16px;
  padding: 0 0 1em;
  cursor: pointer;
}

header li:hover {
  color: lightblue;
}

header li.selected {
  color: aqua;
  font-weight: bold;
}

main {
  flex: 3;
  overflow-y: auto;
  padding: 2em;
}

main img {
  display: block;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  margin: 2em 0;
}

main div.artist-info {
  font-style: italic;
}

.login-add,#searchType,#searchButton,#selecting{
  background-color: rgb(78, 0, 121);
  border: none;
  border-radius: 14px;
  color: white;
  padding: 8px 28px;
  margin: 4px 2px;
}

.login-add:hover,#searchButton:hover{
  color:rgb(70, 197, 240);
}

#selecting{
  background-color: rgb(81, 121, 80);
}

#searchButton{
  background-color: rgb(0, 0, 0);
}

#searchType{
  background-color: rgb(128, 124, 130);
  padding: 6px 22px;
}

#searchDiv{
  display:flex;
  flex-direction: column;
}